
@{
    Layout = null;   
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>@***********DashBoard Header***********@
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/grid.css")" rel="stylesheet" type="text/css"/>
    @***********End DashBoard Header***********@
</head>
<body>
    @********************Popup Form************************@
    <div class="lightFrame" style="display: none" id="cmsConfigForm">
        <div class="pop">
            @if (IsSectionDefined("Db_Popup"))
            {
                @RenderSection("Db_Popup", required: false)
            }
        </div>
    </div>
    @********************Popup Form************************@ @****************Top Navigation***********************@
    <div class="topBar width1150">
        <div class="headerCollapsHldr">
            <a href="javascript:void(0)" class="collapseHdr">&nbsp;</a></div>
        <div class="topLink rgt">
            <a href="javascript:void(0)">
                <img src="@Url.Content("~/Content/images/icon_logout.png")" width="21" height="22" alt="" />@Html.ActionLink("Log Out", "LogOff", "Account")</a></div>
        <div class="topLink rgt" id="divfavorites">
        </div>
        @* <div class="topLink rgt">
            <a href="javascript:void(0)">
                <img src="@Url.Content("~/Content/images/icon_settings.png")" width="21" height="22" alt="" />Settings</a></div>
        <div class="topLink rgt">
            <a href="javascript:void(0)">
                <img src="@Url.Content("~/Content/images/icon_message.png")" width="21" height="22" alt="" />Messages</a></div>*@
        <div class="topLink rgt">
            <a href="javascript:void(0)">
                <img src="@Url.Content("~/Content/images/icon_ptofile.png")" width="21" height="22" alt="" />@Html.Partial("_LogOnPartial")</a></div>
        <div class="clr">
        </div>
    </div>
    <div class="headerPart expand">
        <div class="headerInner width1150">
            <a href="@Url.RouteUrl("Dashboard")" class="logo2">&nbsp;</a>
            <div class="headerLinksHolder">
                @*    <a href="javascript:void(0)" class="headerLinks mr60"><img src="@Url.Content("~/Content/images/icon_statistics.png")" width="16" height="15" alt="" class="lft" /><span>Statistics</span></a>*@
                <a href="javascript:void(0)" class="headerLinks openFav">
                    <img src="@Url.Content("~/Content/images/icon_userList.png")" width="24" height="15" alt="User List" class="lft" /><span>Favourite</span></a>
                <a href="@Url.RouteUrl("Dashboard")" class="headerLinks">
                    <img src="@Url.Content("~/Content/images/icon_messageL.png")" width="18" height="15" alt="Message" class="lft" /><span>Dashboard</span></a>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>
    @****************End Top Navigation***********************@
    @if ((User.Identity.Name.Split(',')[1] == "SOFTENG") || (User.Identity.Name.Split(',')[1] == "softeng"))
    {
        
         <div class='onePix'>
            <div class="tdLInner ">
                <ul class="bCloser">
                 
                    <li><a href="/cmsmenu">Menu Header</a></li>
                    <li><a href="/cmsmenusubheader">Menu Sub-Header</a></li>
                    <li><a href="/cmsmenuelement">Menu Elements</a></li>
                    <li><a href="/pagetype">Page Type</a></li>
                    <li><a href="/folders">Folders</a></li>
                </ul>
                <div class="clr">
                </div>
                <div class="tgHldr thrdLvl">
                    <a href="javascript:void(0)" class="">System Settings</a>
                    <span class="spnCp"></span>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
       
    }
    else
    {
     @Html.Action("topMenu", "PartialPage")
    }
    <div class="quick">
        <div class="quickLink ">
            <ul id="getTopFavourates">
            </ul>
            <div class="clr">
            </div>
            <a href="javascript:void(0)" class="rgt manageQuickLink mR60">Manage</a><div class="clr">
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
     @if (Request.RawUrl.Split('/').Last() != "dashboard")
     {
    <div class="wrapper" id="wrapper">
       
        <div class="contentHolder">
            @****************Left Navigation***********************@
            
            <div class="leftBox">
            
                <div class="leftController">
                </div>
                
                <ul class="mC">
                  
                    @if ((User.Identity.Name.Split(',')[1] == "SOFTENG") || (User.Identity.Name.Split(',')[1] == "softeng"))
                    { }
                    else
                    { 
                      @Html.Action("leftmenu", "PartialPage")
                      
                    }
                    
                    <li><span class="mCollapse">&nbsp;</span></li>
                </ul>
                
            </div>
             
            @****************End Left Navigation***********************@ @****************Right Navigation***********************@
            <div class="rightBox wC">
                @if (IsSectionDefined("Db_pageHeading"))
                {
                    @RenderSection("Db_pageHeading", required: false)
                }
                @if (IsSectionDefined("Db_rightFilter"))
                {
                    @RenderSection("Db_rightFilter", required: false)
                }
                <div class="clr">
                </div>
                @if (IsSectionDefined("Db_rightTop"))
                {
                    @RenderSection("Db_rightTop", required: false)
                }
                @if (IsSectionDefined("Db_rightNav"))
                {
                    @RenderSection("Db_rightNav", required: false)
                }
            </div>
        </div>
     
        @****************End Right Navigation***********************@
        @RenderBody()
        <div class="clr">
        </div>
    </div>
     }
     else if (Request.RawUrl.Split('/').Last() == "dashboard")
               {
         if ((User.Identity.Name.Split(',')[1] == "SOFTENG") || (User.Identity.Name.Split(',')[1] == "softeng"))
         {
         }
         else {
    <div class="wrapper"><div class="slideIndicator"><h3>Dashboard</h3><div class="clr"></div></div>
       
</div>
             }   }
     
    @if (IsSectionDefined("Db_Dashboard"))
    {
        @RenderSection("Db_Dashboard", required: false)
    }



@* </div>*@ @****************Footer***********************@
    <div class="footerHolder">
        <div class="wrapper">
            All rights are reserved @@ Vitanutrition.com &copy; [@DateTime.UtcNow.Year]
        </div>
    </div>
    @****************End Footer***********************@ @****************************************Scripts files***************************************@
   
    
        @Scripts.Render("~/bundles/jquery")

    
    @if (IsSectionDefined("Db_Header"))
    {
        @RenderSection("Db_Header", required: false)    
    }
  
@****************************************End Scripts files***************************************@
</body>
</html>
